/*sadia*/
body {
  margin:0 auto;
  padding:0 auto;

}
header{
  width: 100%;
  height: 120px;
  background: linear-gradient(270deg, #cd0d5b, #e95591, #ff0046, #ffffff);
background-size: 800% 800%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}

.container-header {

}
  h1{
    color: white;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}
ul {
  display: flex;
flex-direction: row;
justify-content: center;
list-style-type:  none;
justify-content: space-around;
}
li {
font-size: 1.3em;
font-family: 'Open Sans', sans-serif;
}

/*fousseni*/


main {
            min-width: 320px;
            max-width: 800px;
            padding: 50px;
            margin: 0 auto;
            background: #fff;
          }

          section {
            display: none;
            padding: 20px 0 0;
            border-top: 1px solid #ddd;
            font-family: 'Open Sans', sans-serif;
          }

          input {
            display: none;
            font-family: 'Open Sans', sans-serif;
          }

          label {
            display: inline-block;
            margin: 0 0 -1px;
            padding: 15px 25px;
            font-weight: 600;
            text-align: center;
            color: #bbb;
            border: 1px solid transparent;
          }

          label:before {
            font-family: fontawesome;
            font-weight: normal;
            margin-right: 10px;
          }

          label[for*='1']:before { content:'\f27b'; }
          label[for*='2']:before { content: "\f19d"; }
          label[for*='3']:before { content: "\f271"; }
          label[for*='4']:before { content: "\f121"; }

          label:hover {
            color:red;
            cursor: pointer;
          }

          input:checked + label {
            color: #555;
            border: 1px solid #ddd;
            border-top: 2px solid blue;
            border-bottom: 1px solid #fff;
          }

          #tab1:checked ~ #content1,
          #tab2:checked ~ #content2,
          #tab3:checked ~ #content3,
          #tab4:checked ~ #content4 {
            display: block;
          }

          @media screen and (max-width: 650px) {
            label {
              font-size: 0;
            }
            label:before {
              margin: 0;
              font-size: 18px;
            }
          }

          @media screen and (max-width: 400px) {
            label {
              padding: 15px;
            }
          }
 
/*les profil étudiant*/
          .container {
            font-family: 'Libre Baskerville', serif;
    border: 2px solid #ccc;
    background: linear-gradient(223deg, #a0a0a0, #f6f6f6, #c9cdd1, #c9cdd1, #c9cdd1);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 29%}
    50%{background-position:100% 72%}
    100%{background-position:0% 29%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 29%}
    50%{background-position:100% 72%}
    100%{background-position:0% 29%}
}
@keyframes AnimationName {
    0%{background-position:0% 29%}
    50%{background-position:100% 72%}
    100%{background-position:0% 29%}
}
.skin{
  display: flex;
  justify-content: space-around;


}
h4{
font-size: 13px;
  text-align:center;
  border-radius: 5px;

}

.box1{
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background: linear-gradient(331deg, #1ddc3a, #81d88e, #19952c, #a7ebb2);
background-size: 800% 800%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

.box2{
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background: linear-gradient(296deg, #e04908, #dc7a4f, #da5216, #e90a0a, #f49393);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;

}
.box3{
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background: linear-gradient(301deg, #0fcb9b, #17f0b9, #12e3ae, #b8ebde, #0fb389);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;

}
.box4{
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background: linear-gradient(313deg, #7a9c93, #797e7d, #8bb3ab, #828282);
background-size: 800% 800%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;

}
.box5{
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background: linear-gradient(213deg, #11cfe0, #4bbfc9, #00ebff, #00a6b4, #00ebff);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
}
.box6{
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background: linear-gradient(209deg, #0b67f6, #508be7, #97b3de, #67a2fc);
background-size: 800% 800%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;

}
.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;

  }
}
.container-footer {
  width: 100%;
  height: 110px;
  background: linear-gradient(270deg, #cd0d5b, #e95591, #ff0046, #ffffff);
background-size: 800% 800%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
}
